@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.home-main-container {
  min-height: 76vh;
  max-height: auto;
  background-image: url("../../public/assets/imgone.jpg");
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-container-home {
  background-color: lightskyblue;
  opacity: 0.9;
  width: 90%;
  height: auto;
  border-radius: 12px;
  padding: 15px;
}
.home-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-data-container-two {
  margin-top: 9px;
}
.home-data-container p,
h2 {
  padding: 5px;
  margin: 3px;
  font-family: "Inter", sans-serif;
}
.home-data-container p {
  font-size: 22px;
  color: navy;
  text-transform: uppercase;
  font-weight: bold;
}
.home-data-container h2 {
  font-size: 26px;
  color: purple;
}
.home-rs-icon {
  font-size: 30px;
  background-color: green;
  padding: 5px;
  color: white;
  border-radius: 50%;
}
